**/Binaries/
**/Intermediate/
**/DerivedDataCache/
**/Saved/
**/.vs/
**/.vscode/
**/Content/Developers/
**/Content/Collections/
*.sln
*.slnx
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.code-workspace
*.pdb
*.obj
*.log
__pycache__/
*.pyc
*.blend1
*.blend2
.DS_Store
Thumbs.db
